/* Element selectors */
body {
    font-size: 22px;
}

h1, h2 {
    color: blue;
}

p {
    color: purple;
}

/* Select nested elements */
p span {
    text-transform: uppercase;
    background-color: gold;
}

/* Class selector */
.gray {
    color: gray;
}

/* Id selector */
#second-paragraph {
    font-style: italic;
}
