body {
    background-color: #E6E4AC;
    color: #130207;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header h1 {
    font-size: 5rem;
    padding: 1.6rem;
}

main p {
    font-size: 1.5em;
    padding: 1.6rem;
    text-align: right;
}