body {
    padding: 10%;
    font-size: 2rem;
    font-family: monospace, sans-serif, Verdana, Tahoma;
}

input, button {
    font: inherit;
}

p {
    text-align: left;
    text-indent: 5rem;
    line-height: 1.9;
    word-spacing: 0.5rem;
}