@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    padding: 7% 13%;
    font-size: 2rem;
    font-family: 'Lato', sans-serif;
}

ol {
    line-height: 1.8;
    list-style-type:armenian;
}

ul {
    list-style: square url("https://cdn0.iconfinder.com/data/icons/harmonicons-02/64/check-box-128.png") outside;
    line-height: 2.5;
}