* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 11px double salmon;
    font-size: 1.5rem;
    padding: 1.5em 2em 3em 4em;
    margin: 1.5em 2em 3em 4em;
    outline: 3px solid purple;
    outline-offset: -20px;
}

.circle {
    background-color: crimson;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    outline: 3px solid black;
    outline-offset: 0.25rem;
    margin: 5rem auto;
    border-radius: 50%;
}