@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    padding: 10%;
}

/* Check out for the order of the elements here */
a {
    text-decoration: underline;
    color: darkslategrey;
}

a:visited {
    color: lightsalmon;
}

a:hover, a:focus {
    color: lightgrey;
    background: darkslategrey;
}

a:active {
    color: black;
}